<div id="ticket">
	<h2><%= @ticket.title %></h2>
	<strong><span id="author">Created by <%= @ticket.user.email %></span></strong>
	<!-- @ticket.state method returns a state object which is displayed using the _state.html.erb partial -->
	<br />
	<%= @ticket.state.name if @ticket.state %>
	<%= simple_format(@ticket.description) %>
	<div id="tags"><%= render @ticket.tags %></div>	
</div>
<!-- We use the Array argument passed to link_to method which is interpreted as edit_project_ticket_path(@project, @ticket) -->
<% authorized?("edit tickets".to_sym, @project) do %>
	<%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
<% end %>
<% authorized?("delete tickets".to_sym, @project) do %>
	<%= link_to "Delete Ticket", [@project, @ticket], method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>
<h3>Comments</h3>
<div id='comments'>
	<% if @ticket.comments.exists? %>
		<%= render @ticket.comments.select(&:persisted?) %>
	<% else %>
		There are no comments for this ticket.
	<% end %>
</div>
<%= render "comments/form" %>
